@use '@lostpointer/web-tokens/variables.scss' as lp;


.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.loading {
    font-size: 16px;
    color: var(--portal-text-dim);
}